.container-dark-nav{
    background:#000;
    background-size: cover;
    color:#ddd;
    padding:10px 80px ;
    min-height: 30px;
    
  }
  .logo{
    float: left;
  }
  nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0000;
    line-height: 25px;
    word-spacing: 75px;
    
  }
  nav ul{
    float:right;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
  }
   nav ul li a{
     color: #fff;
     text-decoration: none;
     
   }
  header nav ul li a:hover{
    color: #666;
  }
  .footer{
    text-align:center;
    padding:30px 80px;
    text-align: center;
    background: white;
    color: black;
    min-height: 30px;
    
  }
  body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Roboto Lt", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
    background: #000;
   
    
    
  } 
  .footer{
    text-align:center;
    padding:30px 80px;
    text-align: center;
    background: whitesmoke;
    color: black;
    min-height: 30px;
    
  } 
  .pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    
  
    /*
      fixed = parallax
      scroll = normal
    */
    min-height: 100;
    background-attachment:fixed;
  }
  .bg-img1{
    background-image: url("image/moto2-main-hero-1920x1080.jpg");

    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }

  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;    
    border: 1px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size:30px;
    letter-spacing:8px;
    word-spacing: 8px;
    text-transform:uppercase;
    font-family:"Roboto Lt", sans-serif;
  }
  .section-dark_nav{
    background-color:#000000;
    color:#ddd; 
    
  }
  .section-dark{
    background-color:#282e34;
    color:#ddd;
    
  }
  .section{
    text-align:center;
    padding:50px 80px;
  }
  .bg-img2{
    background-image: url("image/street.jpg");
    background-attachment: fixed;
   
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .bg-text2{  
    position: relative;
    top:25%;
    left: 2.5%;
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: left;
    color: white;
    font-size: 18px;
    letter-spacing:8px;
    word-spacing: 8px;
    text-transform:uppercase;
    font-family:"Roboto Lt", sans-serif;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 1px solid #ffffff;
  }
  .container-dark{
    background-color:#282e34;
    color:#ddd;
    padding:50px 80px ;
    min-height: 750px;
      
  }
  .streetImage{
  
    float: left;
  }
  .container-dark .streetImage img{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 15px;
  }
  .stitle{
    font-size: 50px;
  }
  .stext{
    text-align: left;
    width: 500px;
   
  }
  .streettext{
    float: right;
    max-width: 500px;  
    
  }
  .button{
    background-color: red;
    color: white;
    padding: 15px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
  }
  button:hover{
    background-color: rgba(255, 4, 4, 0.493);
  }
  